footer
    background-color: $color-principale-fonce
    padding: 2rem 0

    .menu-item a
        text-transform: inherit

    .menu-item.current-item a
        color: $color-background
        border-color: $color-background

    .logo
        max-width: 200px
        
    p
        font-size: 1.6rem
        clear: both
        text-align: center