@import 'mixins'

* 
  box-sizing: border-box
  font-family: 'Roboto', sans-serif 
  margin: 0

img
  max-width: 100%

.container
  width: 100%
  max-width: 1200px
  padding: 0 5%
  margin: 0 auto
  /* Clearfix hack */
  &:after
    clear: both
    content: " "
    display: block 

%backsection
  padding: 3rem 0 3rem 0

#section1, #section2, #section3, #section4, #section5, #section6, #section7, #section8, #section9
  @extend %backsection

#section1, #section5, #section7, #section9
  background-color: $color-section

#section3
  background-color: darken($color-section, 80)

.trio-card
  display: flex
  justify-content: space-between
  img
    width: 30%

.sentier--p
  text-align: center
  padding-bottom: 4rem

.section3
  display: flex
  align-items: center
  justify-content: center
  &--h2
    padding: 0 2rem

.stats
  display: flex
  width: 100%
  align-items: center
  justify-content: space-between
  &__colgauche
    width: 48%
  &__coldroite
    display: flex
    flex-direction: column
    align-items: flex-start
    width: 48%
    &--chiffres
      display: flex
      flex-direction: row
      justify-content: space-between
      padding: 2rem 0
      gap: 4rem

.cards
  display: flex
  justify-content: space-between
  width: 100%
  &__employee
    width: 23%
    img
      width: 80px
  &__socialmedias
    display: flex
    width: 25px
    gap: 0.3rem

.section7__sectionhaut
  display: flex
  flex-direction: column
  text-align: center
  width: 70%
  margin: 0 auto
  padding-bottom: 2rem