/**  --------------------------------------- **/
/**  VARIABLES **/

$color-text: #2f2f2f //Gris foncé
$color-principale: #dfb52e //Rose
$color-principale-fonce: #5c5c5c //Rose foncé
$color-header: #6cde4c
$color-background: #fff
$pad-std : 0.5em 1em

/** --------------------------------------- **/
/** GENERAL **/
    
* 
  box-sizing: border-box
  background-color: #dddddd

img
  max-width: 100%

.container
  width: 100%
  max-width: 1080px
  padding: 0 5%
  margin: 0 auto
  /* Clearfix hack */
  &:after
    clear: both
    content: " "
    display: block

ul.menu
  list-style: none
  padding: 0

  /** --------------------------------------- **/
/** TYPOGRAPHY **/

body
  color: #000
  font-size: 1.6rem
  line-height: 1.5
  background-color: $color-background


a
  text-decoration: none
  color: $color-principale
  transition: all 0.3s
  &:hover
    color: $color-principale-fonce


.button-std
  border-radius: 0.2em
  padding: $pad-std
  margin: 0.6em
  display: inline-block
  transition: all 0.5s
  background-color: $color-principale
  border: 1px solid #434343
  color: $color-background
  

.button-ghost
  border-radius: 0.2em
  padding: $pad-std
  margin: 0.5em
  display: inline-block
  transition: all 0.5s
  background-color: $color-background
  border: 1px solid $color-principale-fonce
  color: $color-principale-fonce

/** --------------------------------------- **/
/** HEADER **/

.logo
  float: left
  width: 100%
  max-width: 180px
  padding: 1rem 0
  transition: all 0.2s
  &:hover
    opacity: 0.8

header 
  background-color: $color-header

/** --------------------------------------- **/
/** NAVIGATION **/

nav 
  float: right

.menu-item
  float: left
  margin-right: 0.5em
  position: relative
  a
    display: block
    padding: $pad-std
    text-transform: uppercase
    transition: all 0.5s
    &:hover
      color: $color-background
  &.current-item a
    color: $color-principale-fonce
    border-bottom: 1px solid $color-principale