* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1080px;
  padding: 0 5%;
  margin: 0 auto;
  /* Clearfix hack */
}
.container:after {
  clear: both;
  content: " ";
  display: block;
}

#section1, #section2, #section3, #section4, #section5, #section6, #section7, #section8, #section9 {
  padding: 3rem 0 3rem 0;
}

#section1, #section5, #section7, #section9 {
  background-color: #e8e8e8;
}

#section3 {
  background-color: #1c1c1c;
}

.trio-card {
  display: flex;
  justify-content: space-between;
}

h1 {
  padding: 0 0 1.2rem 0;
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
}

h2 {
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
}

.trio-card p {
  text-align: center;
}

.container-header, nav, .menu {
  display: flex;
}

.container-header {
  justify-content: space-between;
}

nav {
  align-items: center;
}

.menu-item a {
  color: #2f2f2f;
  text-decoration: none;
  padding: 1rem;
}
.menu-item a:hover {
  color: #7c7c7c;
  font-weight: 700;
}

.current-item {
  color: #2f2f2f;
  border-bottom: 1px solid #2f2f2f;
  padding-bottom: 0.5rem;
}

ul.menu {
  list-style: none;
  padding: 0;
}

.logo {
  float: left;
  width: 100%;
  max-width: 150px;
  padding: 1rem 0;
  transition: all 0.2s;
}
.logo:hover {
  opacity: 0.8;
}

.bottom-menu__logo {
  max-width: 100px;
}

.copyright {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.bottom-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyright__contact {
  display: flex;
}

iframe {
  width: 100%;
}

.card {
  width: 100%;
  position: relative;
  overflow: hidden;
}

iframe {
  background-attachment: scroll;
  position: absolute;
  width: 100%;
}

.card__overlay {
  position: relative;
  width: 100%;
}

.card__text {
  position: relative;
  background-color: white;
  width: 40%;
  float: right;
  padding: 2rem;
  margin: 2rem;
}