/** GENERAL **/
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1080px;
  padding: 0 5%;
  margin: 0 auto;
  /* Clearfix hack */
}
.container:after {
  clear: both;
  content: " ";
  display: block;
}

ul.menu {
  list-style: none;
  padding: 0;
}

section {
  padding: 2rem 0;
}

.container-header, nav, .menu {
  display: flex;
}

.container-header {
  justify-content: space-between;
}

nav {
  align-items: center;
}

.menu-item a {
  color: #2f2f2f;
  text-decoration: none;
  padding: 1rem;
}
.menu-item a:hover {
  color: #7c7c7c;
  font-weight: 700;
}

.current-item {
  color: #2f2f2f;
  border-bottom: 1px solid #2f2f2f;
  padding-bottom: 0.5rem;
}

.logo {
  float: left;
  width: 100%;
  max-width: 100px;
  padding: 1rem 0;
  transition: all 0.2s;
}
.logo:hover {
  opacity: 0.8;
}